<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoBe.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.example.demoBe.entity.User">
        <id property="userUid" column="user_uid"/>
        <result property="userId" column="user_id"/>
        <result property="pwd" column="pwd"/>
        <result property="pwdExpr" column="pwd_expr"/>
        <result property="status" column="status"/>
        <result property="userType" column="user_type"/>
        <result property="authProvider" column="auth_provider"/>
        <result property="email" column="email"/>
        <result property="createdDate" column="created_date"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedDate" column="updated_date"/>
        <result property="updatedBy" column="updated_by"/>
    </resultMap>

    <select id="findByUserId" resultMap="UserResultMap">
        SELECT * FROM users WHERE user_id = #{userId}
    </select>

    <select id="findByUserUid" resultMap="UserResultMap">
        SELECT * FROM users WHERE user_uid = #{userUid}
    </select>

    <select id="findByEmail" resultMap="UserResultMap">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userUid">
        INSERT INTO users (user_id, pwd, status, user_type, auth_provider, email, created_date, created_by, updated_date, updated_by)
        VALUES (#{userId}, #{pwd}, #{status}, #{userType}, #{authProvider}, #{email}, NOW(), #{createdBy}, NOW(), #{updatedBy})
    </insert>

    <update id="updateUser" parameterType="User">
        UPDATE users
        SET user_id = #{userId},
            pwd = #{pwd},
            pwd_expr = #{pwdExpr},
            status = #{status},
            user_type = #{userType},
            auth_provider = #{authProvider},
            email = #{email},
            updated_date = #{updatedDate},
            updated_by = #{updatedBy}
        WHERE user_uid = #{userUid}
    </update>

    <update id="updatePassword">
        UPDATE users
        SET pwd = #{pwd},
            updated_date = NOW(),
            updated_by = 'SYSTEM'
        WHERE user_uid = #{userUid}
    </update>

</mapper>
